<section class="py-12">
  <div class="w-[95%] mx-auto">
    <h1 class="text-lime-500 font-bold text-4xl mb-6 text-center">
      Product Details
    </h1>

    @if (loading) {
      <div class="h-[600px]"></div>
    }
    @else {
       <div class="relative min-h-80 grid grid-cols-1 md:grid-cols-12 gap-8 items-center">




        <div class="md:col-span-3">
          <div class="w-full max-w-md mx-auto">
            <owl-carousel-o [options]="productDetailsOptions">
              @for (image of productData.images; track productData._id) {
                <ng-template carouselSlide [id]="productData._id">
                  <img
                    [src]="image"
                    alt="Product image"
                    class="w-full h-auto object-cover"
                  />
                </ng-template>
              }
            </owl-carousel-o>
          </div>
        </div>

        <!-- التفاصيل -->
        <div class="md:col-span-9">
          <h2
            class="text-2xl font-semibold mb-2 text-gray-800 text-center md:text-left"
          >
            {{ productData.title }}
          </h2>

          <p class="text-gray-500 text-sm mb-4 text-center md:text-left">
            {{ productData.description }}
          </p>

          <div
            class="flex flex-col md:flex-row md:items-center md:justify-between gap-3 text-center md:text-left"
          >
            <span class="text-lg font-medium text-gray-800">
              {{ productData.price }} EGP
            </span>

            <span
              class="flex justify-center md:justify-start items-center text-sm"
            >
              <i class="fas fa-star text-yellow-400 mr-1"></i>
              <span>{{ productData.ratingsAverage }}</span>
            </span>
          </div>

          <div class="text-center md:text-left">
            <button (click)="addToCart(productData._id)"
              class="btn bg-lime-500 hover:bg-lime-600 text-white mt-6 px-6 py-2 rounded-md transition-all duration-200"
            >
              Add To Cart
            </button>
          </div>
        </div>

    </div>
    }


  </div>
</section>
