<div class="relative z-0 w-full mb-5 group">
  <div class="relative">
    @if (element === 'input') {
  <input
      [formControl]="control"
      [type]="typeInput || (eye ? 'text' : 'password')"
      [name]="NameInput"
      [id]="idInput"
      class="main-input mt-4 pr-10 peer"
      placeholder=" "
      required
    />
    }
    @else if (element === 'text') { <textarea
      [formControl]="control"

      [name]="NameInput"
      [id]="idInput"
      class="main-input mt-4 pr-10 peer"
      placeholder=" "
      required
    ></textarea>}

    <label
      [for]="idInput"
      class="main-label absolute top-1 left-0 text-gray-500 transition-all duration-200 ease-out
        peer-placeholder-shown:translate-y-4 peer-placeholder-shown:text-gray-400
        peer-focus:-translate-y-1 peer-focus:text-lime-500"
    >
      {{ labelInput }}
    </label>

    @if (NameInput === 'password' || NameInput === 'rePassword' || NameInput === 'newPassword') {
      <span
        (mousedown)="preventBlur($event)"
        (click)="showPassword()"
        class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-gray-600 select-none pointer-events-auto"
      >
        @if (eye) {
          <i class="fas fa-eye-slash"></i>
        }
        @else {
          <i class="fas fa-eye"></i>
        }
      </span>
    }
  </div>

  @if (control?.errors && control?.touched) {
    <div
      class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert"
    >
      <ul class="mt-1.5 list-disc list-inside">
          @if (control?.hasError('minlength')) {
            <li>min length is 3</li>
          }
          @if (control?.hasError('email')) {
            <li>Email is invalid</li>
          }
          @if (control?.hasError('maxlength')) {
            <li>max length is 20</li>
          }
          @if (control?.hasError('required')) {
            <li>Input is required</li>
          }
          @if (control?.hasError('pattern')) {
            <li><ng-content /></li>
          }
          @if (control?.hasError('mismatch')) {
            <li>please confirm password</li>
          }
        </ul>
    </div>
  }
</div>







