<nav class="bg-gray-300 border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto px-4 py-3">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/images/freshcart-logo.svg" class="h-8" alt="Flowbite Logo" />

    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5h-5"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full grow md:flex md:w-auto" id="navbar-default">
      @if(isLogin===true){
         <ul class="font-medium items-center ms-4 flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-3 rtl:space-x-reverse md:mt-0 md:border-0">
        <li>
          <a routerLinkActive="text-white bg-lime-600 rounded-md p-2" routerLink="/home"  class="block py-2 px-3 rounded-sm md:p-1 text-gray-600  hover:text-green-800 transition-colors duration-200" aria-current="page">Home</a>
        </li>

        <li>
          <a routerLinkActive="text-white bg-lime-600 rounded-md p-2" routerLink="/products"  class="block py-2 px-3 rounded-sm md:p-1 text-gray-600 hover:text-green-800 transition-colors duration-200" aria-current="page">Products</a>
        </li>
        <li>
          <a routerLinkActive="text-white bg-lime-600 rounded-md p-2"  routerLink="brands" class="block py-2 px-3 rounded-sm md:p-1 text-gray-600 hover:text-green-800 transition-colors duration-200" aria-current="page">Brands</a>
        </li>
        <li>
          <a routerLinkActive="text-white bg-lime-600 rounded-md p-2" routerLink="categories" class="block py-2 px-3 rounded-sm md:p-1 text-gray-600 hover:text-green-800 transition-colors duration-200" aria-current="page">Categories</a>
        </li>

      </ul>
      }


      <ul class="font-medium ms-auto flex items-center flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-3 rtl:space-x-reverse md:mt-0 md:border-0">
        <li class="flex items-center space-x-2">
          <a  class="block py-2 px-3 rounded-sm md:p-0 text-gray-600 hover:text-green-800 transition-colors duration-200" aria-current="page"><i class="fa-brands fa-facebook"></i></a>
          <a class="block py-2 px-3 rounded-sm md:p-0 text-gray-600 hover:text-green-800 transition-colors duration-200" aria-current="page"><i class="fa-brands fa-twitter"></i></a>
          <a  class="block py-2 px-3 rounded-sm md:p-0 text-gray-600 hover:text-green-800 transition-colors duration-200" aria-current="page"><i class="fa-brands fa-linkedin"></i></a>
          <a class="block py-2 px-3 rounded-sm md:p-0 text-gray-600 hover:text-green-800 transition-colors duration-200" aria-current="page"><i class="fa-brands fa-instagram"></i></a>
          <a class="block py-2 px-3 rounded-sm md:p-0 text-gray-600 hover:text-green-800 transition-colors duration-200" aria-current="page"><i class="fa-brands fa-youtube"></i></a>
        </li>
         @if(isLogin===false){
         <li>
          <a routerLinkActive="text-white bg-lime-600 rounded-md p-2" routerLink="/login"  class="block py-2 px-3 rounded-sm md:p-1 text-gray-600 hover:text-green-800 transition-colors duration-200" aria-current="page">Login</a>
        </li>
        <li>
          <a routerLinkActive="text-white bg-lime-600 rounded-md p-2" routerLink="/register"  class="block py-2 px-3 rounded-sm md:p-1 text-gray-600 hover:text-green-800 transition-colors duration-200" aria-current="page">Register</a>
        </li>
      }
      @else{
        <li class="relative">
          <a routerLinkActive="text-lime-500" routerLink="/wishlist"  class="block  text-2xl py-2 px-3 rounded-sm  md:p-1 text-gray-600 hover:text-green-800 transition-colors duration-200" aria-current="page"><i

        class="fa-solid fa-heart">

      </i></a>
          <span class="absolute top-[-10px] end-0 z-2 bg-red-600 px-1.5 rounded-md py-1 text-[9px]">{{favCount()}}</span>
        </li>
        <li class="relative">
          <a routerLinkActive="text-lime-500" routerLink="/cart"  class="block  text-2xl py-2 px-3 rounded-sm  md:p-1 text-gray-600 hover:text-green-800 transition-colors duration-200" aria-current="page"><i class="fa fa-cart-shopping" aria-hidden="true"></i></a>
          <span class="absolute top-[-10px] end-0 z-2 bg-red-600 px-1.5 rounded-md py-1 text-[9px]">{{count()}}</span>
        </li>
       <li class="flex items-center gap-1 px-3 py-2 hover:bg-gray-100 rounded-md transition">
 <i class="fa fa-user-circle text-2xl" aria-hidden="true"></i>

  <div class="flex-col flex">

    <span class="font-medium text-gray-800 ml-1">{{token.name}}</span>

  </div>
</li>

         <li>
          <a (click)="LogOut()"  class="block cursor-pointer py-2 px-3 rounded-sm md:p-0 text-gray-600 hover:text-green-800 transition-colors duration-200" aria-current="page">Sign Out</a>
        </li>
      }



      </ul>
    </div>
  </div>
</nav>

